@import "../../styles/common.scss";

:root {
    --darkmode-color: #222529;
    --darkmode-color-primary: #171c23;
}

.main-container {
    .navbar {
        padding: 0;
        
    }
    .main-content {
        display: flex;
        flex-direction: row;
        .left-sidebar {
         
            
        }
        .right-sidebar {
            width: 100%;
            height: 100vh;
            padding-top: 0px;
            padding-left: 90px;
            
          
        }
    }
}
.light-mode {
    .main-container {
        .navbar {
            background-color: #f8eeaf;
        }
        .main-content {
            .left-sidebar {
                background-color: #83730c;
            }
            .right-sidebar {
                background-color: #f7f5e8;
            }
        }
    }
}
.dark-mode {
    color: #fff;
    
        .navbar {
            background-color: var(--darkmode-color-primary) !important;
            color: #fff !important;
        }
        .main-content {
            .left-sidebar {
                background-color: #000 !important;
                color: #fff !important;
                .side-bar-link {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: rgb(255, 255, 255) !important;
                    font-size: 20px;
                    padding: 10px 0;
                }
                .side-bar-list {
                    padding: 0;
                    height: 100vh;
                    list-style: none;
                }
                .side-bar-item {
                    width: 72px;
                    height: 72px;
                    margin-bottom: 5px;
                }
                
                .side-bar-link {
                    display: flex;
                    flex-direction: column;
                   
                
                    
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                }
                .menu-icon {
                   align-self: center;
                   font-size: 20px;
                }
                .side-bar-text {
                    font-size: 10px;
                    align-self: center;
                    color: rgb(255, 255, 255) !important;
                    font-weight: 600;
                }
                .active {
                    background-color: rgb(227, 232, 228) !important;
                }
            }
            .right-sidebar {
                background-color: var(--darkmode-color) !important;
                color: #fff !important;
            }
        }
    

}
